<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokemonGet</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h1>Detalhes do Pokemon</h1>
    <p>Nome: {{ pokemon.name }}</p>
    <p>Altura: {{ pokemon.height }}</p>
    <p>Peso: {{ pokemon.weight }}</p>
    <img src="{{ pokemon.sprites.front_default }}">

    {% for tipo in pokemon.types %}
        <p>{{ tipo.type.name }}</p>
    {% endfor %}

    {% endblock %}

</body>
</html>